* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
}

/* navbar related styles */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.search-field {
  position: relative;
}
#search-input {
  background-color: #f1f1f1;
  color: #cccccc;
  font-weight: 500;
  font-style: italic;
  width: 500px;
  padding: 15px;
  border: none;
  border-radius: 25px;
}
#search-input:focus {
  outline: none;
}
.search-icon {
  color: #bababa;
  position: absolute;
  right: 15px;
  top: 15px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #707070;
}
